extends /template

block content
  section.section#assignment-list
    .container
      h1.title All Upcoming Assignments
      
      .columns.is-multiline
        each assignments, date in groupedByDate
          .column.is-half
            h2.subtitle
              span.has-text-grey(title=assignments.length + ' assignments due') (#{assignments.length})
              | 
              span(title=moment(date, 'YYYY-MM-DD').fromNow()) Due #{moment(date, 'YYYY-MM-DD').format('dddd, MMMM Do YYYY')}
            .assignments
              ul
                each a in assignments
                  -let c = user.courseFromCRN(a.courseCRN)
                  li
                    .box.assignment(data-assignment-id=a._id, class=a.completed ? 'completed' : '')
                      span.actions.is-pulled-right
                        a(href='/assignments/' + a._id + '/toggle')
                          span.action.fas.fa-check(title='Toggle assignment completion.')
                        span.action.fas.fa-pencil-alt(title='Edit assignment.', onclick='alert("Not yet implemented...")')
                        //span.action.fas.fa-times(title='Delete assignment.')
                      details
                        summary(title=a.completed ? 'You completed this assignment.' : 'This is not yet completed.')
                          span.assignment-header
                            b.course-longname= c.longname
                            | : 
                            span.assignment-title= a.title
                        .content
                          blockquote
                            if a.description
                              p.assignment-description= a.description
                            else
                              p.has-text-grey-light No description given.
      hr
      
      a.button.is-primary(href='/assignments/new') New Assignment
