extends /template

block content
  section.section#assignment-list
    .container
      h1.title All Upcoming Assignments
      
      .columns.is-multiline
        each assignments, date in groupedByDate
          .column.is-half
            h2.subtitle
              span.has-text-grey (#{assignments.length})
              |  Due #{moment(date, 'YYYY-MM-DD').format('dddd, MMMM Do YYYY')}
            .assignments
              ul
                each a in assignments
                  -let c = user.courseFromCRN(a.courseCRN)
                  li
                    .box.assignment
                      details
                        summary
                          b= c.longname
                          | : 
                          span= a.title
                        .content
                          //blockquote
                          p= a.description || 'No description given.'
      hr
      
      a.button.is-primary(href='/assignments/new') New Assignment